.visualizerSpace {
    width: 100%;
    height: 87vh;
}

.circle {
    border-radius: 50%;
}

.visualizerSpace div {
    position: fixed;
    opacity: 0.8;
    mix-blend-mode: difference;
    transition: all 300ms;
}

.image {
    mix-blend-mode: none;
}

.deg45 {
    transform: rotate(45deg);
}

.deg60 {
    transform: rotate(60deg);
}

.deg30 {
    transform: rotate(30deg);
}