body {
    transition: all 700ms;
}

.visualizerSpace {
    width: 100%;
    height: 87vh;
}

.circle {
    border-radius: 50%;
}

.visualizerSpace div {
    position: fixed;
    transition: all 300ms;
}

.deg45 {
    transform: rotate(45deg);
}

.deg60 {
    transform: rotate(60deg);
}

.deg30 {
    transform: rotate(30deg);
}