.visualizerSpace {
    width: 100%;
    height: 87vh;
}
.circle {
    position: fixed;
    border-radius: 50%;
    opacity: 1;
}

.figure {
    position: fixed;
    opacity: 1;
    mix-blend-mode: difference;
    /* transition: 0.3s transform linear; */
}

.deg45 {
    transform: rotate(45deg);
}

.deg60 {
    transform: rotate(60deg);
}

.deg30 {
    transform: rotate(30deg);
}